@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  font-family: "Inter", sans-serif;
}

/* header */
.header {
  width: 100%;
  height: 10rem;
  font-size: 1.6rem;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f3e46;
  border-bottom: 1px solid #cad2c5;
  position: fixed;
  top: 0;
  z-index: 100;
}

.main {
  margin-top: 10rem;
}
.header__logo .logo img {
  width: 20%;
}
.header__nav {
  width: 30%;
  margin-right: 1rem;
}
.header__nav .header__nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.header__nav .header__nav__link {
  text-decoration: none;
  color: #2f3e46;
  background-color: #cad2c5;
  padding: 0.51rem 2rem;
  border-radius: 5px;
  transition: all 0.5s;
}

.header__nav .header__nav__link:hover {
  background-color: #ef7b45;
}

/* section 1 */
.section1 {
  background-image: linear-gradient(
      to right top,
      rgba(202, 210, 197, 0.2),
      rgba(47, 62, 70, 0.8)
    ),
    url(images/hero_card_1.jpg);

  padding: 7rem 5rem;
  height: 58rem;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.section1__card {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  padding: 3rem 2rem;
  box-shadow: 2rem 2rem 5rem #2f3e46;
  background-image: linear-gradient(
    to right bottom,
    rgba(202, 210, 197, 0.9),
    rgba(47, 62, 70, 0.8)
  );
  transition: all 1s;
}

.section1__card:hover {
  background-image: linear-gradient(
    to right bottom,
    rgba(47, 62, 70, 0.8),
    rgba(202, 210, 197, 0.5)
  );
  transform: translate(-1rem, 1rem);
}

.section1__card__1 {
  flex-basis: 35%;
  justify-content: space-between;
  gap: 3rem;
}

.section1__card__1 h3 {
  font-size: 1.6rem;
  background-color: #dfe4dc;
  padding: 1rem 2rem;
  width: fit-content;
  color: #2f3e46;
  transition: all 0.5s;
}

.section1__card__1__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #2f3e46;
}
.section1__card__1__text p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  text-align: justify;
  color: #182025;
  font-weight: 300;
}
.section1__card__1__text h2 {
  font-size: 1.8rem;
}
.section1__card__1__text p {
  font-size: 1.6rem;
}

.section1__card__link {
  text-decoration: none;
  color: #2f3e46;
  font-size: 1.6rem;
  background-color: #ef7b45;
  padding: 0.75rem 2rem;
  width: fit-content;
  border-radius: 10px;
  transition: all 0.8s;
}
.section1__card__link:hover {
  transform: rotate(-10deg) translateX(1rem) scale(1.2);
}
.section1__card__2 {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: end;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

/* section 2 */
.section2 {
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  background-color: #2f3e46;
}

.section2 h2 {
  font-size: 1.8rem;
  color: #cad2c5;
}
.section2__gallery {
  display: flex;
  gap: 3rem;
}
.section2__gallery__card {
  width: 20rem;
  height: 14rem;
  position: relative;
  border: 2px solid white;
  border-radius: 5px;
  overflow: hidden;
}

.section2__gallery__card .card__side {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;

  backface-visibility: hidden;
  overflow: hidden;
}

.section2__gallery__card .card__side__front img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* filter: grayscale(100%) contrast(0.9); */
}
.section2__gallery__card .card__side__back {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  background-color: #ffffff;
  border: 5px solid #52796f;
}
.section2__gallery__card .card__side__back a {
  text-decoration: none;
  text-align: center;
  color: #52796f;
  font-size: 1.6rem;
}

.section2__gallery__card:hover .card__side__front {
  transform: rotateY(-180deg);
}
.section2__gallery__card:hover .card__side__back {
  transform: rotateY(0);
}

/* .section2__gallery__card .card__side__front::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.55;
  background-image: linear-gradient(
    45deg,
    rgb(216, 243, 220),
    rgb(64, 145, 108)
  );
} */
/* section 3 */
.section3 {
  height: 55rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  background-color: #354f52;
  color: white;
}

.section3__header {
  font-size: 2.4rem;
}

.section3__video {
  height: 35rem;
  background: white;
}

.section3__video video {
  border: 4px solid white;
  box-shadow: 1.25rem 1.5rem 5rem #2f3e46;
  height: 35rem;
}
/* section4 */

.section4 {
  background-color: #2f3e46;
  height: 60.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4 h2 {
  font-size: 3.4rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.star {
  width: 2.5rem;
}

.section4-text {
  font-size: 1.6rem;
  margin-bottom: 5rem;
  color: #ffffff;
}

.section4-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.section4-item {
  width: 16rem;
}

.section4-item-title {
  font-size: 2.2rem;
  color: #ffffff;
}

.section4-item-img {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
}

.section4-item-text {
  font-size: 1.4rem;
  color: #ffffff;
}

/* section5 */
.section5 {
  background-color: #cad2c5;
  height: 85.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section5 h2 {
  font-size: 3.4rem;
  margin-bottom: 5rem;
  color: #2f3e46;
}

.section5-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.grid-item {
  width: 20rem;
}

.grid-item-img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.grid-item-title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #2f3e46;
}

.grid-item-text {
  font-size: 1.3rem;
  color: #2f3e46;
}

/* section6 */
.section6 {
  background: #84a98c;
  height: 73.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section6 h2 {
  font-size: 3.4rem;
  margin-bottom: 2rem;
}

.section6 p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.price-cards {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.price-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 39.6rem;
  max-height: 39.6rem;
  width: 29.1rem;
  border-radius: 5px;
}

.price-tag {
  padding: 2rem 4rem;
  font-size: 2rem;
  color: #2f3e46;
}

.price-card-features {
  list-style: none;
  font-size: 1.8rem;
  color: #2f3e46;
}

.price-card-image {
  width: 90%;
  border-radius: 10px;
}

.price-card-button {
  width: 90%;
  background-color: #ef7b45;
  color: #2f3e46;
  text-transform: uppercase;
  padding: 1rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
}

.price-card-button:hover {
  background-color: #ffffff;
  border: 1px solid #ef7b45;
  color: #ef7b45;
  transition: all 0.5s;
}

/* footer */
.footer {
  background-color: #2f3e46;
  height: 40rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 30%;
}

.footer-nav-ul {
  margin: 2.4rem 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.footer-nav-ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 0.51rem 2rem;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.5s;
}

.footer-nav-ul li a:hover {
  background-color: #ffffff;
  color: #2f3e46;
}
.footer-socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
